<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>College Results!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  </head>
  <body>
    <header>
      <div class="wrapper"> <!--wrapper1-->
        <div id="header">
          <h1> Which College Fits Your Personality? Results!</h1> 
          <h2> With your personality, your ideal college is: </h2>
          <h3><%= @results%></h3>
        </div> 
      </div> <!--wrapper1-->
    </header>     
    <div class="wrapper"> <!--wrapper2-->
      <body>
       
  </body>
</html>
